@model CrudMVCApp.Models.Producto

@{
    ViewData["Title"] = "Eliminar Producto";
}

<h1>Eliminar Producto</h1>
<h3>¿Estás seguro de eliminar este producto?</h3>

<div>
    <h4>Producto</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioCompra)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PrecioCompra)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioVenta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PrecioVenta)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stock)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stock)
        </dd>
    </dl>

    <form asp-action="Delete" method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">
            Eliminar <i class="bi bi-trash"></i>
        </button>
        |
        <a asp-action="Index" class="btn btn-secondary">
            Volver a Listado <i class="bi bi-backspace"></i>
        </a>
    </form>
</div>