@model IEnumerable<CrudMVCApp.Models.Producto>

@{
    ViewData["Title"] = "Productos";
}

<h1 class="titleindex">Productos</h1>
<p>
    <a asp-action="Create" class="btn btn-outline-primary">
        <i class="bi bi-plus-circle"></i> Nuevo producto
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Nombre)</th>
            <th>@Html.DisplayNameFor(model => model.Descripcion)</th>
            <th>@Html.DisplayNameFor(model => model.PrecioCompra)</th>
            <th>@Html.DisplayNameFor(model => model.PrecioVenta)</th>
            <th>@Html.DisplayNameFor(model => model.Stock)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                <td>@Html.DisplayFor(modelItem => item.Descripcion)</td>
                <td>@Html.DisplayFor(modelItem => item.PrecioCompra)</td>
                <td>@Html.DisplayFor(modelItem => item.PrecioVenta)</td>
                <td>@Html.DisplayFor(modelItem => item.Stock)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-secondary btn-sm">
                        Editar <i class="bi bi-pen icon-animado"></i>
                    </a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info btn-sm">
                        Detalles <i class="bi bi-info-circle icon-animado"></i>
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger btn-sm">
                        Eliminar <i class="bi bi-trash icon-spin"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>