@model CrudMVCApp.Models.Persona

@{
    ViewData["Title"] = "Details"; // Título de la página
}

<h1>Details</h1> <!-- Encabezado principal de la página -->

<div>
    <h4>Persona</h4> <!-- Subtítulo de la sección de detalles -->
    <hr />
    <!-- Lista de detalles de la persona, mostrando cada propiedad con su nombre y valor -->
    <dl class="row">
        <!-- ID de la persona -->
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <!-- Nombre -->
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <!-- Apellido -->
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Apellido)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Apellido)
        </dd>
        <!-- DNI -->
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dni)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dni)
        </dd>
        <!-- CUIT -->
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cuit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cuit)
        </dd>
        <!-- Fútbol -->
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Futbol)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Futbol)
        </dd>
        <!-- Básquet -->
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Basquet)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Basquet)
        </dd>
        <!-- Otros deportes -->
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Otros)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Otros)
        </dd>
        <!-- Género -->
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Genero)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Genero)
        </dd>
    </dl>
</div>
<div>
    <!-- Botón para editar la persona -->
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-outline-secondary">
        Editar <i class="bi bi-pen"></i>
    </a>
    |
    <!-- Botón para volver al listado -->
    <a asp-action="Index" class="btn btn-secondary">
        Volver a Listado <i class="bi bi-backspace"></i>
    </a>
</div>